
/* ZONA ARTICLE */

#primera_seleccion{
    display:block;
    position: relative;
    margin: auto;
}

.ciudades_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    padding: 60px 20px 60px 20px;
    box-shadow: 0px 4px 20px  #000;
    border: 2px solid #e08e72;
    border-radius: 6px;
}

.titulos{
    color: #fff;
    font-size: 260%;
    text-shadow: 2px 2px 4px #e08e73;
    background-color: #dfc6be;
    border: 2px solid #fff;
    border-radius: 6px;
    width: max-content;
    padding: 6px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 0px 1px 20px  rgb(105, 105, 105);
}

.img_seleccion{
    object-fit: cover;
    margin: 10px;
    width: 100%;
    min-width: 80px;
    max-width: 600px;
    filter: grayscale(0);
    transition: .2s ease;
    border-radius: 6px;
}

.name{
    margin-top: -10px;
    font-size: 160%;
    transition: all .3s ease;
}

.ciudad{
    padding-top: 20px;
    padding-top: 20px;
    transition: .5s ease;
}

.ciudad:hover{
    padding-top: 0px;
    padding-bottom: 0px;
}

.ciudad:hover .img_seleccion{
    filter:grayscale(0);
    border: 2px solid #fff;
    box-shadow: 0px 4px 20px  #000;
    
}

.ciudad:hover .name{
    margin-top: -6px;
    color: #fff;
    font-size: 180%;
    text-shadow: 2px 2px 4px #e08e73;
}

#cs{
    display:none;
}

#vl{
    display:none;
}

.selector_mode{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 40%;
    min-width: 245px;
    max-width: 290px;
    height: min-content;
    max-height: 39px;
    padding: 6px;
    padding-left: 10%;
}
.selector_mode{
    display: none;
}

.selector_text{
    margin: 4px;
    height: 19px;
    width: max-content;
}
.selector_container{
    display: flex;
    justify-content: space-between;
    width: 20%;
    max-width: 250px;
    height: min-content;
    padding: 6px;
    padding-left: 5%;
}

.option{
    width: 80px;
    height: 27px;
    margin: 0%;
    padding: 4px;
    width: max-content;
    border: 2px solid #e08e72;
    border-radius: 6px;
    transition: all .3s ease;
    cursor: pointer;
}

#List_op_cs{
    background: #dfc6be;
    font-weight: bold;
}

#List_op_vl{
    background: #dfc6be;
    font-weight: bold;
}

#switch{
    width: 80px;
    height: 27px;
    border: 2px solid #e08e72;
    border-radius: 6px;
    color:#000;
    font-weight: bold;
    transition: all .3s ease;
}

#switch:hover{
    background: #dfc6be;
}

#cs_list{
    display: flex;
}

#cs_map{
    display: none;
}

#vl_list{
    display:flex;
}

#vl_map{
    display:none;
}

.map_pisos{
    display: none;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border: 2px solid #e08e72;
    border-radius: 6px;
    box-shadow: 0px 4px 20px  #000;
}

.muestreo_individual{
    display: none;
}

.muestreo_individual{
    justify-content: center;
    width: 40%;
    min-width: 400px;
    height: 90%;
    padding: 10px;
    margin: 2%;
}

.piso_map{
    display:none;
}

.piso_map{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px;
    border-radius: 6px;
    box-shadow: 0px 2px 10px  rgb(105, 105, 105);
    margin:auto;
    padding:0;
}

.piso_map:hover{
    box-shadow: 4px 4px 20px  rgb(46, 46, 46);
}

.piso_map:hover .img_piso_map{
    transform: scale(1.4);
}

.piso_map:hover .acceso_piso_map{
    opacity: 1;
}

.img_container_map{
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 90%;
    border: 2px solid #000;
    border-radius: 6px;
    transition: .2s ease;
}

.img_piso_map{
    object-fit: cover;
    transform: scale(1.2);
    width: 100%;
    transition: .4s ease;
}

.acceso_piso_map{
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    color: #fff;
    background-color: #3d3d3d86;
    padding: 4px;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 5px  rgb(105, 105, 105);
    transition: .3s ease;
}

.acceso_piso_map:hover{
    margin-bottom: 7px;
    box-shadow: 0px 3px 10px  rgb(80, 80, 80);
    padding: 4px;
    font-size: 100%;
}

.descripcion_map{
    display: grid;
    margin: auto;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    list-style: none;
    justify-content: center;
}

.map_container{
    object-fit: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 60%;
    margin: auto;
    padding: 0;
    min-width: 300px;
    min-height: 600px;
    border-radius: 6px;
    box-shadow: 0px 2px 10px  rgb(105, 105, 105);

}

iframe{
    position: relative;
    width: 100%;
    border-radius: 6px;
}

.pisos_container{
    display: none;
    flex-flow: row wrap;
    justify-content:center;
    align-items: stretch;
    width: 95%;
    margin: auto;
    padding: 60px 20px 60px 20px;
    border: 2px solid #e08e72;
    border-radius: 6px;
    box-shadow: 0px 4px 20px  #000;
}

.piso{
    position: relative;
    width: 100%;
    height: max-content;
    max-width: 500px;
    min-width: 300px;
    box-shadow: 0px 2px 10px  rgb(105, 105, 105);
    margin:10px;
    padding:15px;
}

.piso:hover{
    box-shadow: 4px 4px 20px  rgb(46, 46, 46);
}

.piso:hover .img_piso{
    transform: scale(1.4);
}

.piso:hover .acceso_piso{
    opacity: 1;
}

.descripcion{
    display: grid;
    margin-left: 50%;
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    list-style: none;
    justify-content: left;
}

.list_element{
    border: 2px solid #000;
    padding:2px 4px 2px 4px;
    margin: 2px;
    width: auto;
    background-color: #dfc7bf;
    font-weight: bold;
    border-radius: 6px;

}

.img_piso{
    object-fit: cover;
    transform: scale(1.2);
    width: 100%;
    transition: .4s ease;
}

.img_container{
    position: absolute;
    overflow: hidden;
    left: 20px;
    width: 50%;
    max-height: 170px;
    border: 2px solid #000;
    border-radius: 6px;
    transition: .2s ease;
}

.acceso_piso{
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    color: #fff;
    background-color: #3d3d3d86;
    padding: 4px;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 5px  rgb(105, 105, 105);
    transition: .3s ease;
}

.acceso_piso:hover{
    margin-bottom: 7px;
    box-shadow: 0px 3px 10px  rgb(80, 80, 80);
    padding: 4px;
    font-size: 100%;
}





@media(max-width: 900px){
    .titulos{
        width: 100%;
    }
    .name{
        font-size: 130%;
    }
    .selector_container{
        width: 40%;
    }
}