*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b48372; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b48372; 
}

/* ZONA HEADER */

    body{
        margin-top: 0;
        margin-right:2px;
        margin-left: 2px;
        overflow: auto;
        background-color: #fff;
    }

    .cabecera{
        position:sticky;
        display: flex;
        top:0;
        justify-content:space-between;
        flex-flow: row wrap;
        height: 50px;
        width: 100%;
        padding: 0px 1vw;
        background-color: #dfc6be;
        border:2px solid #b48372;
        border-radius:0px 0px 6px 6px;
        z-index: 100;
    }

    .acceso__boton{
        position: relative;
        left: -2px;
        color: #fff;
        max-height: 48px;
        margin: 0px;
        padding: 17px 10px;
        border-radius:0 0 0 6px;
        transition: all 0.1s ease;
    }
    
    .acceso__boton:hover{
        font-size: 140%;
        padding: 16px 7px;
    }
    
    .nombre{
        display:flex;
        width: min-content;
    }
    
    .title{
        display: block;
        color: #fff;
        font-size: 22px;
        margin-top: 8px;
        margin-left: 15px;
        margin-right: 0px;
        margin-bottom: 2px;
        border: 2px solid #fff;
        border-radius: 6px;
        padding: 2px;
        width: min-content;
        height: min-content;
    }
    
    .idioma{
        display:none;
        height: min-content;
        margin-top: 6px;
        margin-left: 2px;
        color: #fff;
    }
    
    .header_icons{
        display: block;
        float: right;
        justify-content: space-between;
        float: right;
        width: min-content;
        padding: 0px 0px;
    }
    
    .logo{
        height: 30px;
        margin-top: 10px;
        padding-right: 5px;
        
    }
    
    .language{
        display:none;
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 5px;
    }
      
    #acceso__rapido{
        display: flex;
        position: absolute;
        overflow: hidden;
        padding-left: 12px;
        padding-top: 10px;
        left: -800px;
        margin-left: 2px;
        margin-top: 0px;
        opacity: 1;
        top:48px;
        text-align: left;
        flex-direction: column;
        font-size: 12px;
        height: 100vh;
        width: 50%;
        max-width: 350px;
        background-color: #cfb0a6d5;
        color: #fff;
        border:2px solid #b48372;
        border-radius: 0px 6px 0px 0px;
        transition: .5s ease;
    }

    .acceso__list{
        text-align: left;
        color: #fff;
        margin: 8px 5px;
        background-color: #cfb0a600;
        font-size: 12px;
        border: 0px;
        outline: 0px;
        transition:  all .3s ease;
    }

    .acceso__list:hover{
        font-size: 105%;
        margin: 7.5px 5px;
    }

    @media only screen and (max-width: 800px){
        .acceso__list{
            font-size: 10px;
        }
    }
    
    .lista_rapida{
        font-size: 105%;
        text-decoration: none;
        color: #fff;
        margin-right: 2px;
    }



/* ZONA FOOTER */

    footer{
        position: relative;
        width: 100%;
        bottom:0;
        border: 2px solid #b48372;
        border-radius: 6px 6px 0px 0px;
        text-align: center;
        background-color: #444444;
    }

    .title_footer{
        display: block;
        color: #fff;
        font-size: 18px;
        margin:auto;
        margin-left: 20px;
        border: 2px solid #fff;
        border-radius: 6px;
        padding: 2px;
        width: min-content;
        height: min-content;
    }

    .bloques_footer_container{
        display:flex;
        flex-flow:row wrap;
        width: 100%;
        justify-content: space-between;
        margin: auto;
    }

    .ubicaciones{
        text-align: left;
    }

    .ubicacion_container{
        display:flex;
        flex-direction: column;
        justify-content: left;
    }

    .bloque_footer{
        display: grid;
        position: relative;
        grid-template-columns: repeat(1,1fr);
        width: 50%;
        min-width: 400px;
        padding: 20px;
        text-align: left;
    }

    .contact_element{
        display:flex;
        flex-direction: row;
        justify-content: left;
        color: #fff;
        font-size: 12px;
        text-align: left;
        margin-top: 20px;
        transition: all .3s ease;
    }

    .contact_element:hover{
        padding-left: 10px;
    }

    .acceso_contact{
        padding-left: 6px;
        text-decoration: none;
        color:#fff;
    }

    .contact_element:hover .acceso_contact{
        color:#dba796;
    }

    .acceso_contact_icon{
        text-decoration: none;
        color:#fff;
    }

    .contact_element:hover .acceso_contact_icon{
        color:#dba796;
    }

    .acceso_footer{
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        text-align: left;
        margin-top: 20px;
        transition: all .3s ease;
    }

    .acceso_footer:hover{
        color:#dba796;
        padding-left: 10px;
    }

    .redes_footer{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 20%;
    }
    
    .redes{
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        text-align: left;
        margin-top: 20px;
        transition: all .3s ease;
    }

    .redes:hover{
        color:#dba796;
    }

    .titulos_footer{
        color: #fff;
        font-size: 20px;
        text-align: left;
    }

    .texto_footer{
        color: #fff;
        font-size: 12px;
        text-align: left;
    }

    .hr_footer{
        height: 4px;
        width: 95%;
        margin: auto;
        color: #fff;
        background-color: #fff;
    }

    .hr_bloque{
        height: 4px;
        width: 100%;
        margin: auto;
        color: #fff;
        background-color: #fff;
        position: absolute;
        width: 92%;
        top:20px;
        left:20px;
    }

    .propiedad{
        color: rgb(255, 255, 255);
        font-size: 12px;
    }

    @media(max-width:900px){
        .bloques_footer_container{
            flex-direction: column;
        }
        .bloque_footer{
            min-width: 200px;
            width: 100%;
        }
    }

    