*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b48372;; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b48372; 
}

@media only screen and (max-width: 919px){

    body{
        margin-top: 0;
        margin-right:2px;
        margin-left: 2px;
        overflow: auto;
        background-color: #fff;
    }

    .cabecera{
        position:sticky;
        display: flex;
        top:0;
        justify-content:space-between;
        flex-flow: row wrap;
        height: 50px;
        width: 100%;
        padding: 0px 2px;
        background-color: #dfc6be;
        border:2px solid #b48372;
        border-radius:0px 0px 6px 6px;
        z-index: 100;
    }

    .acceso__boton{
        float: left;
        color: #fff;
        margin: 0px;
        padding: 17px 10px;
    }
    
    #barritas:hover{
        font-size: 140%;
        padding: 16px 7px;
        transition: 0.1s;
    }
    
    .nombre{
        display:flex;
        width: min-content;
    }
    
    .title{
        display: block;
        color: #fff;
        font-size: 22px;
        margin-top: 8px;
        margin-left: 100px;
        margin-right: 0px;
        margin-bottom: 2px;
        border: 2px solid #fff;
        border-radius: 6px;
        padding: 2px;
        width: min-content;
        height: min-content;
    }
    
    .idioma{
        display:block;
        height: min-content;
        margin-top: 6px;
        margin-left: 2px;
        color: #fff;
    }
    
    .header_icons{
        display: block;
        float: right;
        justify-content: space-between;
        float: right;
        width: 100px;
        padding: 0px 0px;
    }
    
    .logo{
        height: 30px;
        margin-top: 10px;
        padding-right: 5px;
        
    }
    
    .language{
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 5px;
    }
    
    .acceso__rapido{
        display: flex;
        position: absolute;
        overflow: hidden;
        margin-left: 2px;
        margin-top: 0px;
        padding-left: 12px;
        padding-top: 10px;
        left: -440px;
        top:48px;
        opacity: 0;
        text-align: left;
        flex-direction: column;
        font-size: 12px;
        width: 50%;
        height: 100vh;
        background-color: #cfb0a6;
        color: #fff;
        border:2px solid #b48372;
        border-radius: 0px 6px 0px 0px;
        transition: .5s ease;
       
    }
    .acceso__list{
        text-align: left;
        margin: 8px 5px;
        background-color: #cfb0a6;
        font-size: 12px;
        border: 0px;
        outline: 0px;
    }
    
    .acceso__list:hover{
        font-size: 110%;
        margin: 7.5px 5px;
    }
    
    .lista_rapida{
        text-decoration: none;
        color: #fff;
        margin-right: 2px;
    }
    
    .acceso__boton:hover .acceso__rapido{
        left: -4px;
        margin-left: 2px;
        margin-top: 0px;
        height: 100vmax;
        opacity: 1;
    }

}


@media only screen and (min-width:920px){

    body{
        margin-top: 0;
        margin-right:2px;
        margin-left: 2px;
        overflow: auto;
        background-color: #fff;
        scrollbar-color: #b48372;
    }
    
    .cabecera{
        position:sticky;
        display: flex;
        margin: 0;
        top:0;
        justify-content:space-between;
        flex-flow: row wrap;
        height: 50px;
        width: 100%;
        padding: 0px 2px;
        background-color: #dfc6be;
        border:2px solid #b48372;
        z-index: 100;
    }

    #barritas{
        margin: 0;
        left: -20px;
    }
    
    .acceso__boton{
        display:none;
    }
    
    .nombre{
        display:flex;
        position: absolute;
        width: min-content;
        background-color: #dfc6be;
        z-index: 30;
    }
    
    .title{
        display: block;
        color: #fff;
        font-size: 22px;
        margin-top: 8px;
        margin-left: 20px;
        margin-right: 0px;
        margin-bottom: 2px;
        border: 2px solid #fff;
        border-radius: 6px;
        padding: 2px;
        width: min-content;
        height: min-content;
    }
    
    .idioma{
        display:block;
        height: min-content;
        margin-top: 6px;
        margin-left: 2px;
        color: #fff;
    }
    
    .header_icons{
        display: block;
        float: right;
        justify-content: space-between;
        width: 100px;
        padding: 0px 0px;
        z-index: 40;
    }
    
    .logo{
        height: 30px;
        margin-top: 10px;
        padding-right: 5px;
        
    }
    
    .language{
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 5px;
    }
    
    .acceso__rapido{
        display: block;
        position: absolute;
        overflow: hidden;
        top:0px;
        margin-left:0;
        margin-top: 5px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        flex-direction: row;
        font-size: 16px;
        width: 100%;
        height: min-content;
        color: #fff;
        z-index: 20;
       
    }
    .acceso__list{
        text-align: center!important;
        margin: 0px 6px 0px 6px;
        background-color: #dfc6be;
        font-size: 17px;
        outline:0px;
        border: 0px;
        
    }
    
    .acceso__list:hover{
        font-size: 110%;
        margin: -2px 4px 0px 4px;
        transition: .5s ease;
    }
    
    .lista_rapida{
        text-decoration: none;
        color: #fff;
        margin-right: 2px;
    }


}


/* ZONA ARTICLE */

    #portada{
        margin: auto;
        width: 85%;
        height:auto;
        object-fit: cover;
        min-height: 200px;
        max-height: 600px;
        border-radius: 6px;
        border:0px;
        box-shadow: 2px 2px 10px  #000;
        transition: .5s ease;
    }
    #portada:hover{
        width: 95%;
    }

    .calendario{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
        width: 900px;
        height: 100%;
    }

    .mes{
        display:inline-block;
        margin: 0;
        margin-top: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
        box-shadow: 2px 4px 10px  #000;;
    }
    
    ul{
        list-style: none;
        display: grid;
        width: 100%;
        margin: 0;
        grid-template-columns: repeat(7, 1fr);
        padding: 1px;
    }

    li{
        text-align: right;
        padding: 1px;
        border: 1px solid #000;
        width: auto;
        font-weight: bold;
        font-size: 70%;
        outline: 1px solid #000;
        background-color: rgb(221, 139, 125);
    }
    
    /* Definimos cuando empieza cada mes */
        
        #Ene{
            grid-column-start: 6;
        }
        
        #Feb{
            grid-column-start: 2;        
        }

        #Mar{
            grid-column-start: 2;        
        }

        #Abr{
            grid-column-start: 5;        
        }

        #May{
            grid-column-start: 7;        
        }

        #Jun{
            grid-column-start: 3;        
        }

        #Jul{
            grid-column-start: 5;        
        }
        
        #Ago{
            grid-column-start: 1;        
        }
        
        #Sep{
            grid-column-start: 4;        
        }
        
        #Oct{
            grid-column-start: 6;        
        }
        
        #Nov{
            grid-column-start: 2;        
        }
        
        #Dic{
            grid-column-start: 4;        
        }

    .day_name{
        background: #eee;
        font-size: 70%;
        font-weight: bold;
        text-align: center;
    }

    .mes_name{
        font-size: 100%;
    }




/* ZONA FOOTER */

    footer{
        display: block;
        position: relative;
        width: 100%;
        height: 20%;
        bottom:0;
        text-align: center;
    }

    .propiedad{
        color: rgb(54, 54, 54);
        font-size: 20px;
    }



/* ZONA FORMULARIO */

.formulario_contacto{
    position: absolute;
    width: 100%;
    height: min-content;
    top:0;
    z-index: 40;
}

#Form_display{
    display: inline-block;
}

#Reserva{
    margin:10px;
    font-size: 22px;
    color: #fff;
}

#bloque_formulario{
    display:none;
    width: 100%;
    height: 100vmax;
    background-color: #00000077;
}

#Formulario{
    display: none;
    opacity: 1;
    position: relative;
    margin: auto;
    top:12%;
    flex-direction: column;
    background-color: #444444;
    border: 2px solid #fff;
    border-radius: 6px;
    width: 50%;
    max-width: 600px;
    animation-name:form_emergente;
    animation-duration: .6s;
}

@keyframes form_emergente{
    from{opacity: 0;}
    to{opacity: 1;}
}

.form_element{
    margin:10px;
    color: #fff;
}

::placeholder{color: #fff;}
::-webkit-calendar-picker-indicator{filter: invert(1);}
#pais{color: #fff;background-color: #dba796;border: 2px solid #fff;}

.relleno{
    width: 100%;
    background-color: #dba796;
    border:2px solid #fff;
    border-radius: 6px;
    color: #fff;
}

.form_buttons{
    flex-direction: column;
    text-align: center;    
}

.boton_formulario , .open_button{
    color:#dba796;
    background-color: #fff;
    border: 2px solid #dba796;
    border-radius: 6px;
}

.open_button{
    margin:12px;
}

.boton_formulario{
    margin-bottom: 6px;
}